.classes-list {}
.classes-list__item {
  position: relative;

  & + .classes-list__item {
    margin-top: 20px;
  }

  // &.is-active {}
}

.classes-list__item__main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-radius: 20px;
  background-color: $white;
  transition: $default-animation;
  position: relative;
  z-index: 1;
}

.classes-list__item__main__left {
  flex: 0 0 120px;
  border-radius: 15px 0 0 15px;
}
.classes-list__item__main__right {
  padding: 65px 65px 65px 45px;
  flex: 1;
  color: $purple-kiosk;
  transition: $default-animation;
}

.classes-list__item__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
  border-radius: 0 0 20px 20px;
  padding: 70px 65px 55px;
  margin-top: -15px;
  position: relative;
  overflow: hidden;
  // height: 0;
  // transition: $default-animation;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($purple-kiosk, 0.9);
  }

  & > * {
    flex: 0.46;
  }
}


.classes-list--reservations {
  .classes-list__item__main__left {
    background-color: rgba($purple-kiosk, 0.1);
    transition: $default-animation;
  }

  .classes-list__item.is-active .classes-list__item__main__left {
    background-color: rgba($purple-kiosk, 0.9);
  }
}


.classes-list--classes {
  .classes-list__item {
    &:not(.not-available) .classes-list__item__main:before {
      content: '';
      position: absolute;
      right: 40px;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: 65% 65%;
      border-color: transparent;
      border-bottom: 5px solid $purple-kiosk;
      border-right: 5px solid $purple-kiosk;
      transition: $default-animation;
    }
    &.not-available .classes-list__item__main:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(red, 0.5);
      border-radius: 20px;
    }

    &.is-active {
      .classes-list__item__main:before {
        border-bottom-color: $white;
        border-right-color: $white;
        transform: translateY(-50%) rotate(-135deg);
      }

      .classes-list__item__main,
      .classes-list__item__main__left {
        background-color: $purple-kiosk;
      }

      .classes-list__item__main__right {
        color: $white;
      }
    }

  }

  .classes-list__item__main__left {
    background-color: rgba($purple-kiosk, 0.9);
  }
}
