.phone {
  padding-top: 60px;
}

.phone__number-output {
  // set height so it is there when no text is present
  height: 165px;
}

.phone__info {
  margin: 20px auto 90px;
  max-width: 630px;
}

.phone__cancel {
  margin-top: 90px;
}
